.jumbotron#home {
    color: #ffffff;
    background: #ffffff url('sfo.jpg') no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.jumbotron#about {
    color: #ffffff;
    background: #ffffff url('Bicycle1.jpg') no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.jumbotron#home .btn-info {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    -webkit-transition: background-color ease-in-out .15s;
         -o-transition: background-color ease-in-out .15s;
            transition: background-color ease-in-out .15s;
}

.jumbotron#home
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #222;
    background-color: #fff;
    border-color: #fff;
}

#results .btn-info {
    color: #222;
    background-color: transparent;
    border-color: #222;
    -webkit-transition: background-color ease-in-out .15s;
	 -o-transition: background-color ease-in-out .15s;
	    transition: background-color ease-in-out .15s;
}

#results
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.qty {
    color: black;
    width: 2.5em;
    height: 1.5625em;
    font-size: 0.875em;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input.qtyplus {
    width: 1.5625em;
    height: 1.5625em;
    /*color: white;*/
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

input.qtyminus {
    width: 1.5625em;
    height: 1.5625em;
    /*color: white;*/
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

#slider {
    width: 50%;
    margin-top: 10px;
}

#price {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border: none;
    /*
    width: 100px;
    */
    text-align: center;
}

input#submit-button {
    border-width: 2px;
    width: 30%;
}

table#results td,th {
    text-align: center;
    vertical-align: middle;
}


table#results th#it {
    width: 84%;
}

table#results tr#headers th {
    font-size: 1.7em;
}

.dropdown {
    margin: 0 auto;
}

.dropdown-table td,th {
    /*font-size: 70%;*/
    padding: 0 0.6em;
    text-align: center;
}

.on-the-way-there {
    float: left;
    margin-left: 35%;
    margin-right: 3%;
}

.on-the-way-back {
    float: left;
}

.dropdown {
    clear: left;
}

.exclamation {
    float: left;
    margin-right: 0.1875em;
}

#search-submit-button {
  color: #222222;
  /*background-color: #5bc0de; 
  border-color: #46b8da; */
  background-color: transparent; 
  border-color: #222222; 
  -webkit-transition: background-color ease-in-out .15s;
       -o-transition: background-color ease-in-out .15s;
	  transition: background-color ease-in-out .15s;
}

#search-submit-button:hover,
#search-submit-button:focus,
#search-submit-button.focus,
#search-submit-button:active,
#search-submit-button.active,
.open > #search-submit-button.dropdown-toggle.btn-info {
  color: #ffffff;
  /* background-color: #31b0d5; 
  border-color: #269abc; */
  background-color: #222222; 
  border-color: #222222; 
}

.table td,th {
    text-align: center;
}
