#home.jumbotron {
    color: #000;
    background: #ffffff url('Pictures/sfo.jpg') no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.container-fluid#whole {
	width:100%;
	display:table;
}

.jumbotron#about {
    color: #222;
    background: #ffffff url('Pictures/Bicycle1.jpg') no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

div.dropdown {
    margin: 0 auto;
}

.qty {
    color: black;
    width: 2.5em;
    height: 1.5625em;
    font-size: 0.875em;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input.qtyplus {
    width: 1.5625em;
    height: 1.5625em;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

input.qtyminus {
    width: 1.5625em;
    height: 1.5625em;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

#slider {
    width: 30%;
    margin-top: 10px;
}

#price {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border: none;
    text-align: center;
}

table#results td,th {
    text-align: center;
    vertical-align: middle;
}

table#results th#it {
    width: 84%;
}

table#results tr#headers th {
    font-size: 1.7em;
}

table.dropdown-table {
    margin: 0 auto;
}

.dropdown-table td,th {
    padding: 0 0.6em;
    text-align: center;
}

.on-the-way-there {
    float: left;
    margin-left: 35%;
    margin-right: 3%;
}

.on-the-way-back {
    float: left;
}

.dropdown {
    clear: left;
}

.exclamation {
    float: left;
    margin-right: 0.1875em;
}

#search-submit-button {
  color: #222222;
  background-color: transparent; 
  border-color: #222222; 
  -webkit-transition: background-color ease-in-out .15s;
       -o-transition: background-color ease-in-out .15s;
	  transition: background-color ease-in-out .15s;
}

.table td,th {
    text-align: center;
}

div.transbox h1 {
     font-family: Arial,sans-serif;
     font-size: 63px;
     font-weight: bold;
     color: #000000;
}

#banner-stuff.container {
    margin: 0 auto;
    color: #eee;
    min-height: 100%;
    background: #ffffff url('Pictures/Bicycle2.jpg') no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
	    background-size: cover;
    border-radius: 6px;
} 

.transbox {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff4e9;
    opacity: 0.80;
}

.v-center {
    margin-top:5%;
}

textarea {
    resize: none;
}

@media screen and (max-width: 850px) {
    #home.jumbotron {
	text-align: center;
    }

    #home.jumbotron section#slider {
	margin: 5px auto;
    }

    #home.jumbotron input.text-field {
	width: 177.614px; 
	margin: 3px auto;
    }

    #home.jumbotron label.pass {
	width: 100%;
	margin: 0 auto;
	text-align: center;
    }

    #home.jumbotron input#submit-button {
	width: 300px;
    }

    #home.jumbotron label.pass {
	clear: right;
    }

    #slider {
	width: 70%;
    }
}

@media screen and (max-width: 1050px) {
    div.on-the-way-back {
	margin-left: 35%;
    }
}

.btn-info {
    border: 1px solid #222;
    color: #000;
    background-color: transparent;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    border: 1px solid #222;
    color: #000;
    background-color: transparent;
}

label {
    color: #000000;
}

label#priceLabel {
    margin-right:9px;
    float:left;
}

.item{
    width: auto;
    height: 550px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

#myCarousel.carousel_slide {
    width: 50%;
    display: table-cell;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.jumbotron h1, .jumbotron p{
    display:inline;
}

@media screen and (max-width: 1200px) {
    #home.container-fluid {
	margin-top:auto;
	margin-bottom:auto;
	width:100%;
	display: table-cell;
	vertical-align: top;
    }

    #home.jumbotron {
	width:100%;
	display: table-cell;
    }

    #myCarousel.carousel_slide{
	width: 0%;
	display: table-cell;
    }
}
