#myform {
    text-align: center;
    padding: 5px;
    margin: 2%;
}
.qty {
    color: black;
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { 
    width:25px; 
    height:25px;
    color: black;
}
input.qtyminus { 
    width:25px; 
    height:25px;
    color: black;
}
input[type="tel"] {
    width: 10%;
}
#results {
    font-size: 135%;
}
#expandedtable {
    font-size: 70%;
}
td,th {
    text-align: center;
}
div.dropdown h4 {
    text-align: left;
}
